<h5 ng-if="!$ctrl.history.length">
  Вы не записали ни одной транзакции. Запишите <a ui-sref="income">доход</a>, <a ui-sref="expenses">трату</a>
  или <a ui-sref="transfers">перевод</a>, чтобы увидеть историю платежей.
</h5>

<div ng-if="$ctrl.history.length" class="text-center">
  <div class="history text-left">
    <div class="history__header history__row">
      <div class="history__header-col history__date">Дата</div>
      <div class="history__header-col history__amounts">Сумма</div>
      <div class="history__header-col history__category">Категория (комментарий)</div>
      <div class="history__header-col history__payment-methods">Счёт</div>
    </div>

    <div class="history__row history__row-date"
         ng-if="$ctrl.history[$index-1].createdAtDate !== record.createdAtDate"
         ng-repeat-start="record in $ctrl.history track by $index">
      <div class="history__col history__date">
        <span>{{record.createdAtDate}}</span>
      </div>
    </div>

    <div class="history__row"
         ng-repeat-end
         ng-class="{ 'highlighted': record.type === 'transfer'}">

      <div class="history__col history__action-confirm" ng-show="record.isMarkedForRemoval">
        кликните снова
      </div>

      <div class="history__col history__actions">
        <span class="fa fa-pencil fa-lg" ui-sref="{{ record.type }}-edit({ id: record.id })"></span><!--
        --><span class="fa fa-close fa-lg"
              ng-class="{ active: record.isMarkedForRemoval }"
              ng-click="$ctrl.removeTransaction(record); $event.stopPropagation();"></span>
      </div>
      <div class="history__col history__date">
        <span>{{record.createdAtFormattedCompact}}</span>
      </div>
      <div class="history__col history__amounts">
        <span class="history__amount"
              ng-repeat="amount in record.amounts track by $index"
              ng-class="{ 'history__amount--expense': amount.value < 0 }">
          {{ amount.value < 0 ? -amount.value : amount.value | currency:amount.paymentMethod.currency.symbol:2 }}
        </span>
      </div>
      <div class="history__col history__payment-methods">
        <span class="history__payment-method" ng-repeat="amount in record.amounts track by $index">
          {{amount.paymentMethod.name}}
        </span>
      </div>
      <div class="history__col history__category">
        {{record.category.name}} <span class="comment" ng-show="record.comment">({{record.comment}})</span>
      </div>
    </div>
  </div>
</div>