<div class="date-group">
  <div class="date-setnow" ng-click="$ctrl.setNow()">сброс</div>

  <input type="text"
         class="form-control date m-t-md"
         uib-datepicker-popup
         ng-disabled="$ctrl.disabled"
         is-open="$ctrl.datePopupOpened"
         ng-model="$ctrl.date"
         ng-click="$ctrl.datePopupOpened = !$ctrl.datePopupOpened"
         ng-change="$ctrl.setValue()">

  <div class="time-group m-t-md">
    <uib-timepicker ng-disabled="$ctrl.disabled"
                    ng-model="$ctrl.time"
                    ng-change="$ctrl.setValue()">
  </div>
</div>
