.header {
    padding: 20px 0;
}

.user-avatar {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

.tab-content .tab-pane {
    border: 1px solid #dddddd;
    border-top: 0;
    padding: 20px 16px;
}

.form .form-control {
    width: 220px;
    display: inline-block;
    margin: 0 3px;
}

.form .form-control[type="number"] {
    width: 100px;
    text-align: right;
}

.management {
    padding-top: 20px;
}