<div class="form">
  <ul class="list-unstyled list-form">
    <li ng-repeat="paymentMethod in $ctrl.paymentMethods">
      Название: <input class="form-control" type="text" ng-model="paymentMethod.name">,
      валюта: <input class="form-control form-control--sm" type="text" ng-model="paymentMethod.currency">
      <button class="btn-default btn"
              ng-click="$ctrl.saveMethod(paymentMethod)"
              ng-disabled="!paymentMethod.name || !paymentMethod.currency">Сохранить</button>
      <button class="btn-default btn" ng-click="$ctrl.deleteMethod(paymentMethod)">Удалить</button>
    </li>

    <li>
      Название: <input class="form-control" type="text" ng-model="$ctrl.paymentMethod.name">,
      валюта: <input class="form-control form-control--sm" type="text" ng-model="$ctrl.paymentMethod.currency">
      <button class="btn-primary btn"
              ng-click="$ctrl.addMethod()"
              ng-disabled="!$ctrl.paymentMethod.name || !$ctrl.paymentMethod.currency">Добавить</button>
    </li>
  </ul>
</div>