<div class="form">
  <ul class="list-unstyled list-methods">
    <li ng-repeat="paymentMethod in $ctrl.paymentMethods">
      Название: <input class="form-control" type="text" ng-model="paymentMethod.Name">,
      валюта: <input class="form-control form-control--sm" type="text" ng-model="paymentMethod.Currency">
      <button class="btn-default btn"
              ng-click="$ctrl.saveMethod(paymentMethod)"
              ng-disabled="!paymentMethod.Name || !paymentMethod.Currency">Сохранить</button>
      <button class="btn-default btn" ng-click="$ctrl.deleteMethod(paymentMethod)">Удалить</button>
    </li>

    <li>
      Название: <input class="form-control" type="text" ng-model="$ctrl.paymentMethod.Name">,
      валюта: <input class="form-control form-control--sm" type="text" ng-model="$ctrl.paymentMethod.Currency">
      <button class="btn-primary btn"
              ng-click="$ctrl.addMethod()"
              ng-disabled="!$ctrl.paymentMethod.Name || !$ctrl.paymentMethod.Currency">Добавить</button>
    </li>
  </ul>
</div>