body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  padding: 20px 0;
}

.user-avatar {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  background: center center no-repeat;
  background-size: cover;
}

.tab-content .tab-pane {
  border: 1px solid #dddddd;
  padding: 0 10px;

  @media (min-width: 992px) {
    padding: 10px 16px;
  }
}

.form {
  line-height: 42px;

  .btn-inline {
    margin: 6px 0;
  }

  .text-nowrap {
    display: inline-block;
  }

  .form-control {
    width: 220px;
    display: inline-block;
    margin: 0 3px;
    border-width: 0 0 1px;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    color: inherit;
    line-height: 24px !important;
    height: 24px;

    &--sm {
      width: 100px;
    }

    &--xs {
      width: 40px;
    }

    &[type="number"] {
      text-align: right;
    }
  }

  &__hint {
    color: #666;
    font-size: 12px;
    padding: 6px 0;
  }
}

.management {
  padding: 20px 0 18px;
}

.list-form li {

}

.table-remains {
  font-size: inherit;

  td {
    padding: 0 0 5px;

    &.td-label {
      font-weight: bold;
    }

    &.td-number {
      text-align: right;
      padding-left: 20px;
      font-family: 'Fira Mono', monospace;
    }
  }
}

.copy {
  font-size: 85%;
  padding: 12px 0;
  color: #999;
}


.date-group {
  display: inline-block;

  .dropdown-menu {
    .btn-default {
      border-width: 0;
    }

    em {
      font-size: 9px;
    }

    *:focus {
      outline: none;
    }
  }

  > * {
    display: inline-block;
  }

  .form-control {
    display: inline-block;
    width: 100px;
  }

  .time-group {
    .time {
      width: 110px;
    }

    .time-hint {
      margin: 0 5px;
    }

  }
}


.glyphicon {
  line-height: 1.5;
}

.main-menu {

}

.charts {
  margin-bottom: 20px;

  .chart {
    margin-bottom: 20px;
  }
}

.navbar-padded {
  padding-top: 50px;
}