<div class="form">Получил <input class="form-control form-control--sm" type="number" ng-model="$ctrl.income.Amount" step="0.01">
  {{$ctrl.income.PaymentMethod.Currency}}
  <select class="form-control"
          ng-model="$ctrl.income.PaymentMethod"
          ng-options="paymentMethod as paymentMethod.Name for paymentMethod in $ctrl.paymentMethods">
    <option value="">- на платёжное средство -</option>
  </select>
  от <select class="form-control"
             ng-model="$ctrl.income.IncomeCategory"
             ng-options="category as category.Name for category in $ctrl.categories">
    <option value="">- источника дохода -</option>
  </select>
  <br/>
  Комментарий: <input class="form-control"
                      ng-model="$ctrl.income.Comment">
  <button class="btn-primary btn"
          ng-disabled="!$ctrl.income.PaymentMethod || !$ctrl.income.IncomeCategory"
          ng-click="$ctrl.save()">Записать</button>
</div>