<div class="form">
  <div>
    Получил <input autofocus class="form-control form-control--sm" type="number" ng-model="$ctrl.income.amount" step="0.01">
    {{$ctrl.income.paymentMethod.currencySymbol}}
    <select class="form-control"
            ng-model="$ctrl.income.paymentMethod"
            ng-options="paymentMethod as paymentMethod.name for paymentMethod in $ctrl.paymentMethods">
      <option value="">- на платёжное средство -</option>
    </select>
    <span class="text-nowrap">
      от <select class="form-control"
                 ng-model="$ctrl.income.incomeCategory"
                 ng-options="category as category.name for category in $ctrl.categories">
        <option value="">- источника дохода -</option>
      </select>
    </span>
  </div>
  <div>
    Дата: <datetime ng-model="$ctrl.income.createdAt"></datetime>,
    комментарий: <input class="form-control"
                        ng-model="$ctrl.income.comment">

    <div class="button-hint button-hint--lg">
      <div class="button-hint__inner">
        <button class="btn-primary btn btn-inline"
                ng-disabled="!$ctrl.income.paymentMethod || !$ctrl.income.incomeCategory"
                ng-click="$ctrl.save()">Записать транзакцию</button>
        <div class="button-hint__text" ng-show="!$ctrl.income.paymentMethod || !$ctrl.income.incomeCategory">
          Укажите
          <span ng-show="!$ctrl.income.paymentMethod">платёжное средство</span>
          <span ng-show="!$ctrl.income.paymentMethod && !$ctrl.income.incomeCategory">и</span>
          <span ng-show="!$ctrl.income.incomeCategory">категорию</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="charts" ng-if="$ctrl.incomesChart">
  <h3>Доходы за последний месяц</h3>
  <div class="row">
    <div class="col-md-6" ng-repeat="(currency, chartData) in $ctrl.incomesChart">
      <h4>{{currency}}</h4>
      <canvas class="chart chart-bar"
              chart-labels="chartData.labels"
              chart-options="chartData.options"
              chart-data="chartData.data"
              chart-dataset-override="chartData.datasets"></canvas>
    </div>
  </div>
</div>