<div class="container">
  <div class="media header">
    <div class="media-left">
      <img class="media-object user-avatar" ng-src="{{$ctrl.profile.getImageUrl()}}">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Хэй, {{$ctrl.profile.getGivenName()}}!</h4>
      <a ng-click="$ctrl.signOut();" href=""><i class="glyphicon glyphicon-log-out"></i> Выйти</a>
    </div>
  </div>

  <div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs main-menu">
      <li ui-sref-active="active" class="main-menu__tab main-menu__tab--expenses"><a ui-sref="home.expenses">Траты</a></li>
      <li ui-sref-active="active" class="main-menu__tab main-menu__tab--income"><a ui-sref="home.income">Доход</a></li>
      <li ui-sref-active="active" class="main-menu__tab main-menu__tab--transfers"><a ui-sref="home.transfers">Перевод между счетами</a></li>
      <li ui-sref-active="active" class="main-menu__tab main-menu__tab--categories"><a ui-sref="home.categories">Категории трат</a></li>
      <li ui-sref-active="active" class="main-menu__tab main-menu__tab--income-categories"><a ui-sref="home.income-categories">Источники дохода</a></li>
      <li ui-sref-active="active" class="main-menu__tab main-menu__tab--payment-methods"><a ui-sref="home.payment-methods">Платёжные средства</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active"><div ui-view></div></div>
    </div>

  </div>


  <div class="management">
    <h3>Остатки</h3>
    <table class="table-remains">
      <tr ng-repeat="paymentMethod in $ctrl.paymentMethods"><td class="td-label">{{paymentMethod.name}}</td><td class="td-number">{{(paymentMethod.incomes - paymentMethod.expenses) | currency:'':2 }}</td></tr>
    </table>
  </div>

  <div class="copy">
    Сделано в студии <a href="http://pereborstudio.com">&laquo;Перебор&raquo;</a> в 2016 году.
  </div>
</div>

