<div class="form">
  <div>
    Перевёл <input class="form-control form-control--sm" type="number" ng-model="$ctrl.spent.amount" step="0.01">
    {{$ctrl.spent.paymentMethod.currency}}

    <select class="form-control"
            ng-model="$ctrl.spent.paymentMethod"
            ng-options="paymentMethod as paymentMethod.name for paymentMethod in $ctrl.paymentMethods">
      <option value="">- платёжным средством -</option>
    </select>
    <span class="text-nowrap">
      на <select class="form-control"
               ng-model="$ctrl.income.paymentMethod"
               ng-options="paymentMethod as paymentMethod.name
                           disable when paymentMethod.id === $ctrl.spent.paymentMethod.id
                           for paymentMethod in $ctrl.paymentMethods">
        <option value="">- платёжное средство -</option>
      </select>
    </span>
    <span ng-if="$ctrl.spent.paymentMethod && $ctrl.income.paymentMethod && $ctrl.spent.paymentMethod.currency !== $ctrl.income.paymentMethod.currency">
      по&nbsp;курсу <input class="form-control form-control--xs" type="number" ng-model="$ctrl.sourceIncomeCurrencyRate">
      <span class="text-nowrap">к <input class="form-control form-control--xs" type="number" ng-model="$ctrl.targetIncomeCurrencyRate"></span>
    </span>
  </div>

  <div ng-if="$ctrl.getTargetAmount() !== undefined" class="form__hint">
    ({{$ctrl.getTargetAmount() | currency:$ctrl.income.paymentMethod.currency + ' ':2}} будет начислено на {{$ctrl.income.paymentMethod.name}})
  </div>

  <div>
    Дата: <datetime ng-model="$ctrl.spent.createdAt"></datetime>,
    комментарий: <input class="form-control"
                        ng-model="$ctrl.spent.comment">
    <button class="btn-primary btn btn-inline"
            ng-disabled="$ctrl.getTargetAmount() === undefined"
            ng-click="$ctrl.save()">Записать</button>
  </div>
</div>