<div class="form">
  <ul class="list-unstyled list-form">
    <li ng-repeat="category in $ctrl.categories">
      <input class="form-control" type="text" placeholder="Название" ng-model="category.name">
      <button class="btn-default btn btn-inline"
              ng-click="$ctrl.saveCategory(category)"
              ng-disabled="!category.name"><i class="glyphicon glyphicon-ok"></i></button>
      <button class="btn-default btn btn-inline" ng-click="$ctrl.deleteCategory(category)"><i class="glyphicon glyphicon-remove"></i></button>
    </li>

    <li>
      <input class="form-control" type="text" placeholder="Название" ng-model="$ctrl.category.name">
      <button class="btn-primary btn btn-inline"
              ng-click="$ctrl.addCategory()"
              ng-disabled="!$ctrl.category.name"><i class="glyphicon glyphicon-plus"></i></button>
    </li>
  </ul>
</div>