<div class="panel panel-default" ng-if="$ctrl.isHintVisible()">
  <div class="panel-heading">
    <h3>Категории трат</h3>
  </div>
  <div class="panel-body">
    <div class="m-b-md">
      <p>Задайте категории своих трат. Для примера я&nbsp;выбрала пятнадцать популярных. Удалите&nbsp;те, которые не&nbsp;подходят вам, и&nbsp;добавьте&nbsp;те, которые я&nbsp;упустила.</p>
      <p>Обратите внимание, что каждой категории можно назначить цвет. Он&nbsp;будет использован при выводе графика трат категории. Если не&nbsp;указать цвет, её&nbsp;сектор будет выведен серым.</p>
      <p>Когда закончите с&nbsp;категориями, я&nbsp;провожу вас по&nbsp;настройкам счетов.</p>
    </div>

    <div class="button-holder m-b-n-sm">
      <span><button class="btn m-b-sm btn-primary" ng-click="$ctrl.nextStep()" ng-disabled="$ctrl.loading">Перейти к настройкам счетов</button></span>
      <span class="m-l-xs"><button class="btn m-b-sm btn-default " ng-click="$ctrl.close()" ng-disabled="$ctrl.loading">Мне больше не нужны подсказки</button></span>
    </div>
  </div>
</div>

<div class="form">
  <div class="row">
    <div class="col-sm-6">
      <ul class="list-unstyled list-form">
        <li ng-repeat="category in $ctrl.categories">
          <input class="form-control"
                 type="text"
                 placeholder="Название"
                 ng-model="category.name"
                 ng-model-options="{ debounce: 300 }"
                 ng-change="$ctrl.saveCategory(category)">
          <color-picker ng-model="category.color"
                        disabled-options="$ctrl.selectedColors"
                        ng-change="$ctrl.updateSelectedColors(); $ctrl.saveCategory(category)">

          </color-picker>
          <spinner is-loaded="$ctrl.isLoaded[category.id]"></spinner>
          <button class="btn-default btn-sm btn btn-inline" ng-click="$ctrl.deleteCategory(category)"><i class="fa fa-lg fa-remove"></i></button>
        </li>

        <li>
          <input class="form-control" type="text" placeholder="Название" ng-model="$ctrl.category.name">
          <color-picker ng-model="$ctrl.category.color"
                        disabled-options="$ctrl.selectedColors"
                        ng-change="$ctrl.updateSelectedColors()">

          </color-picker>
          <spinner is-loaded="$ctrl.isNewLoaded"></spinner>
          <button class="btn-primary btn-sm btn btn-inline"
                  ng-click="$ctrl.addCategory()"
                  ng-disabled="!$ctrl.category.name"><i class="fa fa-lg fa-plus"></i></button>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <div class="charts" ng-if="$ctrl.hasChart()">
        <h3>Распределение в последний месяц</h3>
        <div class="row">
          <div class="col-md-12" ng-repeat="(currency, chartData) in $ctrl.categoriesChart">
            <h4>{{currency}}</h4>
            <canvas class="chart chart-pie"
                    chart-labels="chartData.labels"
                    chart-options="chartData.options"
                    chart-data="chartData.data"
                    chart-dataset-override="chartData.datasets">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>