body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  padding: 20px 0;
}

.user-avatar {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.tab-content .tab-pane {
  border: 1px solid #dddddd;
  border-top: 0;
  padding: 20px 16px;
}

.form {
  line-height: 42px;

  .btn-inline {
    margin: 8px 0;
  }

  .form-control {
    width: 220px;
    display: inline-block;
    margin: 0 3px;

    &--sm {
      width: 100px;
    }

    &[type="number"] {
      text-align: right;
    }
  }
}

.management {
  padding: 20px 0 18px;
}

.list-form li {
  padding: 0 0 10px;
}

.table-remains {
  font-size: inherit;

  td {
    padding: 0 0 5px;

    &.td-label {
      font-weight: bold;
    }

    &.td-number {
      text-align: right;
      padding-left: 20px;
      font-family: 'Fira Mono', monospace;
    }
  }
}

.copy {
  font-size: 85%;
  padding: 12px 0;
  color: #999;
}


.date-group {
  display: inline-block;

  > * {
    display: inline-block;
  }

  .form-control {
    display: inline-block;
    width: 100px;
  }

  .time-group {
    .time {
      width: 120px;
    }

    .time-hint {
      margin: 0 5px;
    }

  }
}


.glyphicon {
  line-height: 1.5;
}

.main-menu {

}

.charts {
  margin-bottom: 20px;

  .chart {
    margin-bottom: 20px;
  }
}