<div class="form">Spent <input class="form-control" type="number" ng-model="$ctrl.spent.amount">
  on <select class="form-control"
             ng-model="$ctrl.spent.category"
             ng-options="category as category.name for category in $ctrl.categories">
    <option value="">-- category --</option>
  </select>
  in <select class="form-control"
             ng-model="$ctrl.spent.paymentMethod"
             ng-options="paymentMethod as paymentMethod.name for paymentMethod in $ctrl.paymentMethods">
    <option value="">-- method --</option>
  </select>
  <button class="btn-primary btn">Save expense</button>
</div>
<div class="management">
  <ul class="list-unstyled">
    <li><a ui-sref="payment-methods">Manage payment methods</a></li>
    <li><a ui-sref="categories">Manage spending categories</a></li>
  </ul>
</div>

