<div class="form">Потратил <input class="form-control form-control--sm" type="number" ng-model="$ctrl.spent.amount" step="0.01">
  {{$ctrl.spent.paymentMethod.currency}}
  <select class="form-control"
          ng-model="$ctrl.spent.paymentMethod"
          ng-options="paymentMethod as paymentMethod.name for paymentMethod in $ctrl.paymentMethods">
    <option value="">- платёжным средством -</option>
  </select>
  на <select class="form-control"
             ng-model="$ctrl.spent.category"
             ng-options="category as category.name for category in $ctrl.categories">
    <option value="">- категорию -</option>
  </select>
  <br/>
  Комментарий: <input class="form-control"
         ng-model="$ctrl.spent.comment">
  <button class="btn-primary btn"
          ng-disabled="!$ctrl.spent.paymentMethod || !$ctrl.spent.category"
          ng-click="$ctrl.save()">Записать</button>
</div>