<div class="form">Потратил <input class="form-control form-control--sm" type="number" ng-model="$ctrl.spent.Amount" step="0.01">
  {{$ctrl.spent.PaymentMethod.Currency}}
  <select class="form-control"
          ng-model="$ctrl.spent.PaymentMethod"
          ng-options="paymentMethod as paymentMethod.Name for paymentMethod in $ctrl.paymentMethods">
    <option value="">- платёжным средством -</option>
  </select>
  на <select class="form-control"
             ng-model="$ctrl.spent.Category"
             ng-options="category as category.Name for category in $ctrl.categories">
    <option value="">- категорию -</option>
  </select>
  <br/>
  Комментарий: <input class="form-control"
         ng-model="$ctrl.spent.Comment">
  <button class="btn-primary btn"
          ng-disabled="!$ctrl.spent.PaymentMethod || !$ctrl.spent.Category"
          ng-click="$ctrl.save()">Записать</button>
</div>