<div class="charts" ng-if="$ctrl.hasChart()">
    <h3>Динамика остатков за последний месяц</h3>
    <div class="row">
        <div class="col-md-6" ng-repeat="(currency, chartData) in $ctrl.balanceChart">
            <h4>{{currency}}</h4>
            <canvas class="chart chart-line"
                    chart-labels="chartData.labels"
                    chart-options="chartData.options"
                    chart-data="chartData.data"
                    chart-dataset-override="chartData.datasets">
            </canvas>
        </div>
    </div>
</div>
