<html lang="en" ng-app="spender">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <script src="https://apis.google.com/js/api:client.js"></script>
  <base href="/">
  <link href='https://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,600,600italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/vendor.min.css">
  <link rel="stylesheet" href="css/app.min.css">
  <link rel="icon" type="image/x-icon" href="favicon.png">
  <title>Транжира</title>
</head>
<body ng-controller="AppController as $ctrl" ng-class="{ 'modal-open': $ctrl.hasModal() }">
  <div ui-view>
    <div class="loader container" ng-if="!isDataLoaded">
      <h2 class="text-center">Загружаем данные</h2>
      <div class="col-md-4 col-md-offset-4">
        <div class="loader__items">
          <div class="loader__item" ng-class="{ 'loader__item--active': itemsLoaded[item] }" ng-repeat="item in itemsToLoad">
            <span ng-switch="item">
              <span ng-switch-when="expenses">Траты</span>
              <span ng-switch-when="categories">Категории трат</span>
              <span ng-switch-when="incomes">Доходы</span>
              <span ng-switch-when="incomeCategories">Категории доходов</span>
              <span ng-switch-when="paymentMethods">Платежные средства</span>
              <span ng-switch-when="currencies">Валюты</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/vendor.min.js"></script>
  <script src="js/app/app.min.js"></script>
  <script src="js/app/templates.js"></script>
</body>
</html>