<div class="form">
  <ul class="list-unstyled list-form">
    <li ng-repeat="paymentMethod in $ctrl.paymentMethods">
      <input class="form-control" type="text" placeholder="Название" ng-model="paymentMethod.name">,
      <span class="text-nowrap">
        валюта: <input class="form-control form-control--sm" type="text" ng-model="paymentMethod.currency">
      </span>
      <button class="btn-default btn-sm btn btn-inline"
              ng-click="$ctrl.saveMethod(paymentMethod)"
              ng-disabled="!paymentMethod.name || !paymentMethod.currency"><i class="glyphicon glyphicon-ok"></i></button>
      <button class="btn-default btn-sm btn btn-inline" ng-click="$ctrl.deleteMethod(paymentMethod)"><i class="glyphicon glyphicon-remove"></i></button>
    </li>

    <li>
      <input class="form-control" type="text" placeholder="Название" ng-model="$ctrl.paymentMethod.name">,
      <span class="text-nowrap">
        валюта: <input class="form-control form-control--sm" type="text" ng-model="$ctrl.paymentMethod.currency">
      </span>
      <button class="btn-primary btn-sm btn btn-inline"
              ng-click="$ctrl.addMethod()"
              ng-disabled="!$ctrl.paymentMethod.name || !$ctrl.paymentMethod.currency"><i class="glyphicon glyphicon-plus"></i></button>
    </li>
  </ul>
</div>