<div class="panel panel-default" ng-if="$ctrl.isHintVisible()">
  <div class="panel-heading">
    <h3>Счета</h3>
  </div>
  <div class="panel-body">
    <div class="m-b-md">
      <p>Задайте счета или другие платёжные средства. Например: &laquo;наличные&raquo;, &laquo;карта сбербанка&raquo;, &laquo;отложено&raquo;, &laquo;абонемент в&nbsp;клуб&raquo;, &laquo;доллары&raquo;.</p>
      <p>На&nbsp;странице истории полностью помещаются только короткие названия, лучше всего из&nbsp;одного слова.</p>
      <p>В&nbsp;поле &laquo;вход&raquo; введите сумму на&nbsp;этом счету на&nbsp;сегодняшний день, например, &laquo;наличные долл.&raquo; и&nbsp;&laquo;500&raquo;, если у&nbsp;вас 500 долларов наличными.</p>
      <p>Для счетов тоже можно назначать цвет. Он&nbsp;будет использован при выводе графика остатков.</p>
      <p>Когда закончите со&nbsp;счетами, я&nbsp;провожу вас по&nbsp;настройкам источников доходов.</p>
    </div>

    <div class="button-holder m-b-n-sm">
      <span><button class="btn m-b-sm btn-primary" ng-click="$ctrl.nextStep()" ng-disabled="$ctrl.loading">Перейти к настройкам доходов</button></span>
      <span class="m-l-xs"><button class="btn m-b-sm btn-default " ng-click="$ctrl.close()" ng-disabled="$ctrl.loading">Мне больше не нужны подсказки</button></span>
    </div>
  </div>
</div>

<div class="form">
  <ul class="list-unstyled list-form">
    <li ng-repeat="paymentMethod in $ctrl.paymentMethods">
      <input class="form-control"
             type="text"
             placeholder="Название"
             ng-change="$ctrl.saveMethod(paymentMethod)"
             ng-model="paymentMethod.name"
             ng-model-options="{ debounce: 300 }">,
      <span class="text-nowrap">
        валюта:

        <select class="form-control form-control--sm"
                ng-model="paymentMethod.currency"
                ng-change="$ctrl.saveMethod(paymentMethod)"
                ng-options="currency as currency.code for currency in $ctrl.currencies"
                ng-model-options="{ debounce: 300 }">
        </select>
      </span>,
      <span class="text-nowrap">
        вход:
        <input class="form-control form-control--sm"
               type="number"
               step="0.01"
               placeholder="вход"
               ng-change="$ctrl.saveMethod(paymentMethod)"
               ng-model="paymentMethod.initialAmount"
               ng-model-options="{ debounce: 300 }">
      </span>

      <color-picker ng-model="paymentMethod.color"
                    disabled-options="$ctrl.selectedColors"
                    ng-change="$ctrl.updateSelectedColors(); $ctrl.saveMethod(paymentMethod)">

      </color-picker>
      <spinner is-loaded="$ctrl.isLoaded[paymentMethod.id]"></spinner>
      <button class="btn-default btn-sm btn btn-inline" ng-click="$ctrl.deleteMethod(paymentMethod)"><i class="fa fa-lg fa-remove"></i></button>
    </li>

    <li>
      <input class="form-control" type="text" placeholder="Название" ng-model="$ctrl.paymentMethod.name">,
      <span class="text-nowrap">
        валюта: <select class="form-control form-control--sm"
                        ng-model="$ctrl.paymentMethod.currency"
                        ng-options="currency as currency.code for currency in $ctrl.currencies">
        </select>

      </span>,
      <span class="text-nowrap">
        вход:
        <input class="form-control form-control--sm"
               type="number"
               step="0.01"
               placeholder="вход"
               ng-model="$ctrl.paymentMethod.initialAmount"
               ng-model-options="{ debounce: 300 }">
      </span>
      <color-picker ng-model="$ctrl.paymentMethod.color"
                    disabled-options="$ctrl.selectedColors"
                    ng-change="$ctrl.updateSelectedColors()">

      </color-picker>
      <spinner is-loaded="$ctrl.isNewLoaded"></spinner>

      <div class="button-hint">
        <div class="button-hint__inner">
          <button class="btn-primary btn-sm btn btn-inline"
                  ng-disabled="!$ctrl.paymentMethod.name || !$ctrl.paymentMethod.currency"
                  ng-click="$ctrl.addMethod()">Добавить средство</button>
          <div class="button-hint__text" ng-show="!$ctrl.paymentMethod.name || !$ctrl.paymentMethod.currency">
            Укажите
            <span ng-show="!$ctrl.paymentMethod.name">название</span>
            <span ng-show="!$ctrl.paymentMethod.name && !$ctrl.paymentMethod.currency">и</span>
            <span ng-show="!$ctrl.paymentMethod.currency">валюту</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>