<div class="form">
  <ul class="list-unstyled list-form">
    <li ng-repeat="paymentMethod in $ctrl.paymentMethods">
      <input class="form-control"
             type="text"
             placeholder="Название"
             ng-change="$ctrl.saveMethod(paymentMethod)"
             ng-model="paymentMethod.name"
             ng-model-options="{ debounce: 300 }">,
      <span class="text-nowrap">
        валюта:

        <select class="form-control form-control--sm"
                ng-model="paymentMethod.currency"
                ng-change="$ctrl.saveMethod(paymentMethod)"
                ng-options="currency as currency.code for currency in $ctrl.currencies"
                ng-model-options="{ debounce: 300 }">
        </select>
      </span>
      <color-picker ng-model="paymentMethod.color"
                    disabled-options="$ctrl.selectedColors"
                    ng-change="$ctrl.updateSelectedColors(); $ctrl.saveMethod(paymentMethod)">

      </color-picker>
      <spinner is-loaded="$ctrl.isLoaded[paymentMethod.id]"></spinner>
      <button class="btn-default btn-sm btn btn-inline" ng-click="$ctrl.deleteMethod(paymentMethod)"><i class="fa fa-lg fa-remove"></i></button>
    </li>

    <li>
      <input class="form-control" type="text" placeholder="Название" ng-model="$ctrl.paymentMethod.name">,
      <span class="text-nowrap">
        валюта: <select class="form-control form-control--sm"
                        ng-model="$ctrl.paymentMethod.currency"
                        ng-options="currency as currency.code for currency in $ctrl.currencies">
        </select>

      </span>
      <color-picker ng-model="$ctrl.paymentMethod.color"
                    disabled-options="$ctrl.selectedColors"
                    ng-change="$ctrl.updateSelectedColors()">

      </color-picker>
      <spinner is-loaded="$ctrl.isNewLoaded"></spinner>

      <div class="button-hint">
        <div class="button-hint__inner">
          <button class="btn-primary btn-sm btn btn-inline"
                  ng-disabled="!$ctrl.paymentMethod.name || !$ctrl.paymentMethod.currency"
                  ng-click="$ctrl.addMethod()">Добавить средство</button>
          <div class="button-hint__text" ng-show="!$ctrl.paymentMethod.name || !$ctrl.paymentMethod.currency">
            Укажите
            <span ng-show="!$ctrl.paymentMethod.name">название</span>
            <span ng-show="!$ctrl.paymentMethod.name && !$ctrl.paymentMethod.currency">и</span>
            <span ng-show="!$ctrl.paymentMethod.currency">валюту</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>